.page
    .ukraine
        position: fixed
        top: 0
        left: 0
        right: 0
        width: 100vw
        padding: 5px
        background: #000
        font-weight: bold
        display: flex
        justify-content: center
        align-items: center
        white-space: nowrap
        gap: 5px
        p
            background: linear-gradient(180deg, rgba(0,87,184,1) 0%, rgba(255,216,0,1) 100%)
            background-clip: text
            color: transparent
    .content
        width: 520px
        margin: 0 auto
        padding: 100px 15px 0
        @media screen and (max-width: 550px) 
            width: 360px
            padding: 100px 15px 0